.about.uk-margin-large-top
    .uk-container
        .uk-grid.uk-margin-large-bottom(uk-grid='', class="uk-child-width-1-1@s uk-child-width-1-1@m uk-child-width-1-2@l uk-child-width-1-1")
            .uk-grid-item-match.uk-margin-large-top
                img(src="http://via.placeholder.com/500x500", alt="block")
            div
                h1.uk-text-center.uk-margin-large-top.uk-margin-medium-bottom About our company
                ul.uk-tab-bottom(data-uk-tab="{connect:'#my-tab'}")
                    li.uk-active
                        a(href='#') Tab1
                    li
                        a(href='#') Tab2
                    li
                        a(href='#') Tab3	
                ul#my-tab.uk-switcher.uk-margin
                    li 
                        .bin
                            .skills.bin_first 90%
                        
                        .bin
                            .skills.bin_second 80%
                    
                        .bin
                            .skills.bin_third 65%
            
                        .bin
                            .skills.bin_forth 60%
                    li Content 2
                    li Content 3