.uk-background-fixed.uk-background-center-center.uk-height-large.uk-panel.uk-margin-large-top.uk-flex.uk-flex-center.uk-flex-middle(style='background-image: url(http://via.placeholder.com/1349x300;')
    .uk-text-center
        h1.uk-heading-primary Lorem Title
        p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Прямо большого одна толку? 
        button.uk-button.uk-button-primary Buy