.countdown.uk-margin-large-top.uk-flex.uk-flex-center
    .uk-grid-small.uk-child-width-auto.uk-margin(uk-grid, uk-countdown="date: 2018-04-30T12:30:55+00:00")
        div
            div.uk-countdown-number.uk-countdown-days
            div.uk-countdown-label.uk-margin-small.uk-text-center(class="uk-visible@s") Days
        div.uk-countdown-separator .
        div
            div.uk-countdown-number.uk-countdown-hours
            div.uk-countdown-label.uk-margin-small.uk-text-center(class="uk-visible@s") Hours
        div.uk-countdown-separator :
        div
            div.uk-countdown-number.uk-countdown-minutes
            div.uk-countdown-label.uk-margin-small.uk-text-center(class="uk-visible@s") Minutes
        div.uk-countdown-separator :
        div
            div.uk-countdown-number.uk-countdown-seconds
            div.uk-countdown-label.uk-margin-small.uk-text-center(class="uk-visible@s") Seconds