section.galleryMacy
    .uk-container
        h1.uk-text-center.uk-margin-large-top Macy Gallery
        .gallery2.uk-margin-large-top
            .img
                img(src='img/jpg/g1.jpg', alt='')
                .text.uk-position-cover
                    h2 Header
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, ipsam voluptate. Ab adipisci blanditiis exercitationem magni quia rerum totam vero!
            .img
                img(src='img/jpg/g2.jpg', alt='')
                .text.uk-position-cover
                    h2 Header
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, ipsam voluptate. Ab adipisci blanditiis exercitationem magni quia rerum totam vero!
            .img
                img(src='img/jpg/g3.jpg', alt='')
                .text.uk-position-cover
                    h2 Header
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, ipsam voluptate. Ab adipisci blanditiis exercitationem magni quia rerum totam vero!
            .img
                img(src='img/jpg/g4.jpg', alt='')
                .text.uk-position-cover
                    h2 Header
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, ipsam voluptate. Ab adipisci blanditiis exercitationem magni quia rerum totam vero!
            .img
                img(src='img/jpg/g5.jpg', alt='')
                .text.uk-position-cover
                    h2 Header
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, ipsam voluptate. Ab adipisci blanditiis exercitationem magni quia rerum totam vero!
            .img
                img(src='img/jpg/g6.jpg', alt='')
                .text.uk-position-cover
                    h2 Header
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, ipsam voluptate. Ab adipisci blanditiis exercitationem magni quia rerum totam vero!
            .img
                img(src='img/jpg/g7.jpg', alt='')
                .text.uk-position-cover
                    h2 Header
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, ipsam voluptate. Ab adipisci blanditiis exercitationem magni quia rerum totam vero!
            .img
                img(src='img/jpg/g8.jpg', alt='')
                .text.uk-position-cover
                    h2 Header
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, ipsam voluptate. Ab adipisci blanditiis exercitationem magni quia rerum totam vero!
            .img
                img(src='img/jpg/g9.jpg', alt='')
                .text.uk-position-cover
                    h2 Header
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, ipsam voluptate. Ab adipisci blanditiis exercitationem magni quia rerum totam vero!
            .img
                img(src='img/jpg/g10.jpg', alt='')
                .text.uk-position-cover
                    p Header
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, ipsam voluptate. Ab adipisci blanditiis exercitationem magni quia rerum totam vero!
            .img
                img(src='img/jpg/g11.jpg', alt='')
                .text.uk-position-cover
                    h2 Header
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, ipsam voluptate. Ab adipisci blanditiis exercitationem magni quia rerum totam vero!
            .img
                img(src='img/jpg/g12.jpg', alt='')
                .text.uk-position-cover
                    h2 Header
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, ipsam voluptate. Ab adipisci blanditiis exercitationem magni quia rerum totam vero!
