section.gallery.uk-margin-large-top.uk-margin-large-bottom
    .uk-container.uk-container-small.uk-text-center
        .toolbar.mb2.mt2.uk-margin-large-bottom 
            a.btnGallery.fil-cat(href='#all', data-rel='all') All
            a.btnGallery.fil-cat(href='#websites', data-rel='web') Websites
            a.btnGallery.fil-cat(href='#flyers', data-rel='flyers') Flyers
            a.btnGallery.fil-cat(href='#cards', data-rel='bcards') Business Cards
        div(style='clear:both;')
        #portfolio(uk-lightbox="animation: slide")
            .tile.scale-anm.web.all
                a(href="img/img.jpg" data-caption="Caption 1")
                    img(src="img/img.jpg", alt='img1')
            .tile.scale-anm.bcards.all
                a(href="img/img.jpg" data-caption="Caption 1")
                    img(src="img/img.jpg", alt='img1')
            .tile.scale-anm.web.all
                a(href="img/img.jpg" data-caption="Caption 1")
                    img(src="img/img.jpg", alt='img1')
            .tile.scale-anm.web.all
                 a(href="img/img.jpg" data-caption="Caption 1")
                    img(src="img/img.jpg", alt='img1')
            .tile.scale-anm.flyers.all
                a(href="img/img.jpg" data-caption="Caption 1")
                    img(src="img/img.jpg", alt='img1')
            .tile.scale-anm.bcards.all
                a(href="img/img.jpg" data-caption="Caption 1")
                    img(src="img/img.jpg", alt='img1')
            .tile.scale-anm.flyers.all
                a(href="img/img.jpg" data-caption="Caption 1")
                    img(src="img/img.jpg", alt='img1')
            .tile.scale-anm.flyers.all
                a(href="img/img.jpg" data-caption="Caption 1")
                    img(src="img/img.jpg", alt='img1')
            .tile.scale-anm.flyers.all
                a(href="img/img.jpg" data-caption="Caption 1")
                    img(src="img/img.jpg", alt='img1')
            .tile.scale-anm.bcards.all
                a(href="img/img.jpg" data-caption="Caption 1")
                    img(src="img/img.jpg", alt='img1')
            .tile.scale-anm.bcards.all
                a(href="img/img.jpg" data-caption="Caption 1")
                    img(src="img/img.jpg", alt='img1')
            .tile.scale-anm.bcards.all
                a(href="img/img.jpg" data-caption="Caption 1")
                    img(src="img/img.jpg", alt='img1')
        div(style='clear:both;')