.get-in-touch
    .uk-position-bottom-right.uk-padding.uk-position-fixed
        .with-tel(class="uk-hidden@s")
            a.uk-icon-button(href="tel: +(996) 559 - 011 - 376", uk-icon="icon: receiver")
        .with-whatsapp
            a.uk-icon-button(href="https://api.whatsapp.com/send?phone=996559011376", target="blank", uk-icon="icon: whatsapp")
include ../components/toTop.pug