div.ourTeam.uk-container.uk-margin-large-top(uk-slider)
    .uk-position-relative.uk-light
        ul.uk-slider-items.uk-grid.uk-grid-match(class="uk-child-width-1-3@m uk-child-width-1-2@s uk-child-width-1-1")
            li
                .uk-card.uk-card-default
                    .uk-card-media-top.uk-cover-container
                        img(src="http://via.placeholder.com/600x600", alt="", uk-cover)
                        canvas(width="300", height="300")
                    .uk-card-body.uk-text-center
                        h3.uk-card-title Name Surname
                        p.post Developper
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, officia.
                        .social
                            a.uk-icon-button.uk-margin-right(href="", uk-icon="icon: twitter")
                            a.uk-icon-button.uk-margin-right(href="", uk-icon="icon: facebook")
                            a.uk-icon-button.uk-margin-right(href="", uk-icon="icon: google-plus")
                            a.uk-icon-button(href="", uk-icon="icon: linkedin")
            li
                .uk-card.uk-card-default
                    .uk-card-media-top.uk-cover-container
                        img(src="http://via.placeholder.com/600x600", alt="", uk-cover)
                        canvas(width="300", height="300")
                    .uk-card-body.uk-text-center
                        h3.uk-card-title Name Surname
                        p.post Developper
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, officia.
                        .social
                            a.uk-icon-button.uk-margin-right(href="", uk-icon="icon: twitter")
                            a.uk-icon-button.uk-margin-right(href="", uk-icon="icon: facebook")
                            a.uk-icon-button.uk-margin-right(href="", uk-icon="icon: google-plus")
                            a.uk-icon-button(href="", uk-icon="icon: linkedin")
            li
                .uk-card.uk-card-default
                    .uk-card-media-top.uk-cover-container
                        img(src="http://via.placeholder.com/600x600", alt="", uk-cover)
                        canvas(width="300", height="300")
                    .uk-card-body.uk-text-center
                        h3.uk-card-title Name Surname
                        p.post Developper
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, officia.
                        .social
                            a.uk-icon-button.uk-margin-right(href="", uk-icon="icon: twitter")
                            a.uk-icon-button.uk-margin-right(href="", uk-icon="icon: facebook")
                            a.uk-icon-button.uk-margin-right(href="", uk-icon="icon: google-plus")
                            a.uk-icon-button(href="", uk-icon="icon: linkedin")
            li
                .uk-card.uk-card-default
                    .uk-card-media-top.uk-cover-container
                        img(src="http://via.placeholder.com/600x600", alt="", uk-cover)
                        canvas(width="300", height="300")
                    .uk-card-body.uk-text-center
                        h3.uk-card-title Name Surname
                        p.post Developper
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, officia.
                        .social
                            a.uk-icon-button.uk-margin-right(href="", uk-icon="icon: twitter")
                            a.uk-icon-button.uk-margin-right(href="", uk-icon="icon: facebook")
                            a.uk-icon-button.uk-margin-right(href="", uk-icon="icon: google-plus")
                            a.uk-icon-button(href="", uk-icon="icon: linkedin")
            li
                .uk-card.uk-card-default
                    .uk-card-media-top.uk-cover-container
                        img(src="http://via.placeholder.com/600x600", alt="", uk-cover)
                        canvas(width="300", height="300")
                    .uk-card-body.uk-text-center
                        h3.uk-card-title Name Surname
                        p.post Developper
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, officia.
                        .social
                            a.uk-icon-button.uk-margin-right(href="", uk-icon="icon: twitter")
                            a.uk-icon-button.uk-margin-right(href="", uk-icon="icon: facebook")
                            a.uk-icon-button.uk-margin-right(href="", uk-icon="icon: google-plus")
                            a.uk-icon-button(href="", uk-icon="icon: linkedin")
    ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin