.priceTable.uk-container.uk-margin-large-top.uk-margin-large-bottom
    .uk-grid.uk-grid-match.uk-grid-small(class="uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s uk-child-width-1-1")
        div
            .item.uk-text-center.uk-box-shadow-hover-large
                .header
                    h2.uk-card-title Personal
                .price
                    h2 $99/Month
                .services
                    ol.uk-nav.uk-nav-default
                        li
                            p Hosting
                        li.uk-nav-divider
                        li
                            p Email marketing
                        li.uk-nav-divider
                        li
                            p Database
                        li.uk-nav-divider
                        li
                            p Design Pack
                        li.uk-nav-divider
                        li
                            p Website Layout
                        li.uk-nav-divider
                        li
                            p Online Store
                .button
                    button.uk-button.uk-button-default(type="button") Buy now
        div
            .item.uk-text-center.uk-box-shadow-hover-large
                .header
                    h2.uk-card-title Personal
                .price
                    h2 $99/Month
                .services
                    ol.uk-nav.uk-nav-default
                        li
                            p Hosting
                        li.uk-nav-divider
                        li
                            p Email marketing
                        li.uk-nav-divider
                        li
                            p Database
                        li.uk-nav-divider
                        li
                            p Design Pack
                        li.uk-nav-divider
                        li
                            p Website Layout
                        li.uk-nav-divider
                        li
                            p Online Store
                .button
                    button.uk-button.uk-button-default(type="button") Buy now
        div
            .item.uk-text-center.uk-box-shadow-hover-large
                .header
                    h2.uk-card-title Personal
                .price
                    h2 $99/Month
                .services
                    ol.uk-nav.uk-nav-default
                        li
                            p Hosting
                        li.uk-nav-divider
                        li
                            p Email marketing
                        li.uk-nav-divider
                        li
                            p Database
                        li.uk-nav-divider
                        li
                            p Design Pack
                        li.uk-nav-divider
                        li
                            p Website Layout
                        li.uk-nav-divider
                        li
                            p Online Store
                .button
                    button.uk-button.uk-button-default(type="button") Buy now
        div
            .item.uk-text-center.uk-box-shadow-hover-large
                .header
                    h2.uk-card-title Personal
                .price
                    h2 $99/Month
                .services
                    ol.uk-nav.uk-nav-default
                        li
                            p Hosting
                        li.uk-nav-divider
                        li
                            p Email marketing
                        li.uk-nav-divider
                        li
                            p Database
                        li.uk-nav-divider
                        li
                            p Design Pack
                        li.uk-nav-divider
                        li
                            p Website Layout
                        li.uk-nav-divider
                        li
                            p Online Store
                .button
                    button.uk-button.uk-button-default(type="button") Buy now


            