section.review
    .uk-container
        .uk-position-relative.uk-visible-toggle.uk-dark(uk-slideshow="min-height: 250; max-height: 400; animation: slide")
            ul.uk-slideshow-items
                li
                    .uk-position-center.uk-text-center.uk-padding-large
                        h3.review_title Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.  Далеко-далеко за словесными горами в стране.
                        p Фамилия И.
                        div.uk-cover-container.uk-border-circle.uk-display-inline-block
                            img(src='http://via.placeholder.com/300x200', alt='Border circle', uk-cover)
                            canvas(width="200", height="200")
                li
                    .uk-position-center.uk-text-center.uk-padding-large
                        h3.review_title Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Далеко-далеко за словесными горами в стране.
                        p Фамилия И.
                        div.uk-cover-container.uk-border-circle.uk-display-inline-block
                            img(src='http://via.placeholder.com/300x200', alt='Border circle', uk-cover)
                            canvas(width="200", height="200")
                li
                    .uk-position-center.uk-text-center.uk-padding-large
                        h3.review_title Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Далеко-далеко за словесными горами в стране.
                        p Фамилия И.
                        div.uk-cover-container.uk-border-circle.uk-display-inline-block
                            img(src='http://via.placeholder.com/300x200', alt='Border circle', uk-cover)
                            canvas(width="200", height="200")
            a.uk-position-center-left.uk-position-small(href="", uk-slidenav-previous, uk-slideshow-item="previous")
            a.uk-position-center-right.uk-position-small(href="", uk-slidenav-next, uk-slideshow-item="next")

            ul.uk-slideshow-nav.uk-dotnav.uk-flex-center.uk-margin