.step-list-three.uk-margin-large-top.uk-container
    div(class="uk-child-width-1-2@s uk-child-width-1-1", uk-grid)
        div
            .uk-card.uk-card-default.uk-box-shadow-hover-large
                .uk-card-media-top.uk-cover-container
                    img(src="http://via.placeholder.com/600x600", alt="", uk-cover)
                    canvas(width="300", height="300")
                .uk-card-body
                    h3.uk-card-title.uk-text-center Title
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eveniet labore, impedit illum ullam consequatur facilis culpa cumque commodi incidunt repellat? Totam est velit aliquam hic deleniti reprehenderit eum veritatis.
        div
            .uk-card.uk-card-default.uk-box-shadow-hover-large
                .uk-card-body
                    h3.uk-card-title.uk-text-center Title
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi quam tempore, error ullam eaque ipsum maiores animi fugiat blanditiis voluptatem temporibus quia! At sit totam rerum libero vel tempora accusamus?
                .uk-card-media-bottom.uk-cover-container
                    img(src="http://via.placeholder.com/600x600", alt="", uk-cover)
                    canvas(width="300", height="300")