.step-list-one.uk-margin-large-top
    .uk-grid.uk-grid-collapse.uk-grid-match.uk-text-center(class="uk-child-width-1-4@m uk-child-width-1-2@s uk-child-width-1-1", uk-grid)
        .item.uk-padding.uk-box-shadow-hover-large
            .img.uk-margin-bottom
                span.stepListOne_icon(uk-icon="icon: cart")
            .title
                h3.
                    Something
            .description
                p.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, dolorem!
        .item.uk-padding.uk-box-shadow-hover-large
            .img.uk-margin-bottom
                span.stepListOne_icon(uk-icon="icon: commenting")
            .title
                h3.
                    Something
            .description
                p.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, dolorem!
        .item.uk-padding.uk-box-shadow-hover-large
            .img.uk-margin-bottom
                span.stepListOne_icon(uk-icon="icon: lifesaver")
            .title
                h3.
                    Something
            .description
                p.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, dolorem!
        .item.uk-padding.uk-box-shadow-hover-large
            .img.uk-margin-bottom
                span.stepListOne_icon(uk-icon="icon: cog")
            .title
                h3.
                    Something
            .description
                p.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, dolorem!