.step-list-four.uk-container.uk-margin-large-top
    .uk-grid-collapse.uk-margin.uk-flex-middle(uk-grid, class="uk-child-width-1-2@s uk-child-width-1-1")
        .uk-card-media-left.uk-cover-container
            img(src="http://via.placeholder.com/600x600", alt="", uk-cover)
            canvas(width="400", height="400")
        div
            .uk-card-body
                h3.uk-card-title.uk-text-center Title
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio nobis deserunt aliquid autem laborum maiores tempore, dicta ullam voluptatum repellendus. Pariatur expedita veniam totam error, quibusdam omnis culpa accusantium animi!
        
    .uk-card.uk-card-default.uk-grid-collapse.uk-margin.uk-flex-middle.uk-box-shadow-hover-large(uk-grid, class="uk-child-width-1-2@s uk-child-width-1-1")   
        .uk-card-media-right.uk-cover-container(class="uk-flex-last@s")
            img(src="http://via.placeholder.com/600x600", alt="", uk-cover)
            canvas(width="400", height="400")
        div
            .uk-card-body
                h3.uk-card-title.uk-text-center Title
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio nobis deserunt aliquid autem laborum maiores tempore, dicta ullam voluptatum repellendus. Pariatur expedita veniam totam error, quibusdam omnis culpa accusantium animi!
    
