.stepListTwo.uk-container.uk-margin-large-top
    .uk-grid.uk-flex-middle(uk-grid)
        div.stepListTwo_description(class="uk-width-expand@m uk-width-1-2@s uk-width-1-1")
            .uk-grid(class="uk-child-width-1-1", uk-grid)
                div.uk-grid.uk-box-shadow-hover-medium(uk-grid)
                    .stepListTwo_description_count.uk-width-auto
                        div
                            span.uk-icon-button.step
                                span 1
                    .description.uk-width-expand
                        div
                            h3.
                                Create something
                            p.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquid veniam eaque. Eos laudantium voluptatum, similique sit quia delectus facere!
                div.uk-grid.uk-box-shadow-hover-medium(uk-grid)
                    .stepListTwo_description_count.uk-width-auto
                        div
                            span.uk-icon-button.step
                                span 2
                    .description.uk-width-expand
                        div
                            h3.
                                Create something
                            p.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquid veniam eaque. Eos laudantium voluptatum, similique sit quia delectus facere!
                div.uk-grid.uk-box-shadow-hover-medium(uk-grid)
                    .stepListTwo_description_count.uk-width-auto
                        div
                            span.uk-icon-button.step
                                span 3
                    .description.uk-width-expand
                        div
                            h3.
                                Create something
                            p.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquid veniam eaque. Eos laudantium voluptatum, similique sit quia delectus facere!
        div.stepListTwo_image(class="uk-width-2-5@m uk-width-1-2@s uk-width-1-1")
            div.uk-background-cover.uk-height-large(style="background-image: url(http://via.placeholder.com/450x600);")
