.tabs.uk-margin-large-top.uk-container
    ul(uk-tab)
        li  
            a(href="") First
        li
            a(href="") Second
        li
            a(href="") Third
    ul.uk-switcher.uk-margin
        li
            .uk-clearfix
                .uk-float-left.uk-margin-right.uk-margin-left
                    img(src="http://via.placeholder.com/200x200", alt="")
                .text-in-float
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid praesentium exercitationem fugiat libero, commodi facere quod iste harum ex, odit minima laborum repellendus similique illo sit, doloribus et atque deserunt molestias obcaecati. Incidunt tempora maxime atque. At odit harum consectetur doloremque, cumque quis, dolorem aliquam officiis voluptatibus autem odio adipisci blanditiis eligendi expedita beatae optio tempore quo, quidem delectus dignissimos eveniet aperiam non porro? Tenetur ipsam dignissimos rem voluptate placeat, voluptates eligendi ab commodi voluptas! Veniam consequatur ipsa voluptate veritatis, dolorem molestias in maxime sequi voluptates deleniti nesciunt doloribus ullam sit ut corporis facilis modi voluptatem illo tenetur expedita excepturi qui. Voluptatum, voluptatibus quibusdam recusandae magnam dolorum eaque qui hic ab nihil nulla sunt sint accusantium facere asperiores a unde soluta delectus veritatis. Aliquid rem rerum ipsa tempora alias atque quibusdam inventore, ducimus non sit pariatur? Adipisci nesciunt nulla dolor molestiae atque odio aut hic nihil architecto voluptatum! Doloribus ducimus atque rerum veritatis a, qui deleniti fugit hic delectus. Commodi necessitatibus inventore quos, id in nesciunt, natus doloremque ipsum praesentium quod tenetur enim vitae cumque accusamus excepturi quam. Provident placeat ipsa, illum reiciendis odit necessitatibus officia voluptates amet optio consectetur eveniet, eligendi magni exercitationem sit, tempore voluptate dolorem ad distinctio?
        li
            .uk-clearfix
                .uk-float-right.uk-margin-left.uk-margin-right
                    img(src="http://via.placeholder.com/200x200", alt="")
                .text-in-float
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam porro iusto officia, a tempore tenetur nisi ea aliquid impedit voluptate eius blanditiis. Quam, magnam beatae! Explicabo veniam doloremque a id! Quia, eveniet quos fugit corporis similique, maiores labore adipisci perferendis obcaecati recusandae voluptatem? Perferendis assumenda, vero nulla consectetur saepe recusandae magni est itaque placeat explicabo hic quos vitae nisi dolorem odit voluptatem iure? Consectetur fugiat incidunt eos facilis officiis similique, a in iste autem accusantium asperiores nisi iusto error totam repellat facere eveniet, sunt, est corrupti cumque possimus aspernatur. Deserunt fugit unde dignissimos iste nemo ducimus obcaecati nobis vero? Libero quae, architecto reprehenderit repudiandae dicta minima. Praesentium pariatur eum, aut dolores hic ipsum ex voluptatibus voluptatem unde asperiores eaque, doloribus, cum accusantium. Accusamus at consequatur aliquam sed animi officiis, ipsam corporis nostrum excepturi, amet facilis! Facilis consectetur dignissimos quia dicta eveniet cum sapiente dolorum, quasi vel facere! Ducimus necessitatibus corporis numquam aut quia tempora facere? Mollitia voluptate amet, quisquam, temporibus doloremque natus laboriosam esse autem, ducimus totam dicta! Dicta sit in tempore perferendis delectus, iste neque dignissimos dolore aliquid obcaecati eligendi minima eius vel est labore cumque quis nostrum quibusdam! Dolores aliquid atque consequatur veritatis placeat esse eveniet aut ratione.
        li
            .uk-clearfix
                .uk-float-left.uk-margin-right.uk-margin-left
                    img(src="http://via.placeholder.com/200x200", alt="")
                .text-in-float
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium nemo itaque facilis. Cumque sequi deserunt laborum velit ducimus aliquid voluptas ex, autem sunt dolor! Dolores magni fugiat quo velit animi modi distinctio, iure exercitationem natus cum incidunt unde soluta facere harum blanditiis nulla hic! Voluptatum tenetur placeat architecto rerum. Illo tenetur reiciendis adipisci cum nesciunt, ducimus, possimus veniam excepturi asperiores perspiciatis maxime, qui dignissimos recusandae. Minima, autem deserunt. Autem tempora non provident, aut magni, nam temporibus corrupti labore dolor vel veniam sed eos aliquid error voluptatibus neque nemo, quod ducimus accusamus nisi voluptas nulla delectus et ea? Tenetur quaerat voluptatem quam eius eaque omnis, similique vitae pariatur dolores dolor officia necessitatibus modi alias minus blanditiis. Aliquid, recusandae inventore cum reprehenderit culpa laboriosam itaque, omnis, velit illum harum accusantium quae. Veniam harum, quaerat nam velit repellendus voluptatibus? Quam id nostrum, dolorum ipsum eos dignissimos ad eveniet vitae architecto velit quasi commodi quibusdam, culpa sit possimus. Consequuntur quae cum corrupti facilis ullam reiciendis doloremque nesciunt repellendus numquam, magni, neque suscipit dolorum laboriosam nihil assumenda consequatur. Alias rem quo consequatur incidunt officiis asperiores sequi modi quasi ullam quibusdam commodi veritatis quae similique mollitia impedit dolor perspiciatis at nostrum, dolores voluptates eius natus. Nihil!
