doctype
html(lang="ru")
    head
        include assets/_metas.pug
        include assets/_links.pug
    body.uk-animation-fade
        div.preloader-wrapper
            div.preloader
                img(src="img/gif/preloader.gif", alt="") 
        include ../components/header.pug
        include ../components/slider.pug
        include ../components/feature.pug
        include ../components/timeLine.pug
        include ../components/buy.pug
        include ../components/register.pug
        include ../components/gallery.pug
        include ../components/review.pug
        include ../components/about.pug
        include ../components/galleryMacy.pug
        include ../components/touch.pug   
        include ../components/countdown.pug         
        include ../components/steplistOne.pug            
        include ../components/steplistTwo.pug                                     
        include ../components/steplistThree.pug                                 
        include ../components/steplistFour.pug                                     
        include ../components/ourTeam.pug
        include ../components/priceTable.pug                                                       
        include ../components/tabs.pug              
        include ../components/getInTouch.pug                 
        include ../components/footer.pug                       
        include assets/_scripts.pug      
